<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-7 offset-2"> 
<h3>Edit a form</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div>
        <label for="Title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
        <div class="valid-feedback">
            Title looks good!
        </div>
        <div class="invalid-feedback">
            Please Enter a title
        </div>
    </div>
    <div>
        <label for="descreption" class="form-label">Descreption</label>
        <textarea name="listing[descreption]" id="description" cols="30" rows="10"
            class="form-control" required>
        <%= listing.descreption %>
        </textarea>
        <div class="invalid-feedback">
            Please Enter a descreption
        </div>
        <div class="valid-feedback">
            Descreption looks good!
        </div>
    </div>
    <p class="mt-2">Original listing image</p>
    <div class="mb-2 img-fluid card" style="width: 18rem;" >
        <img src="<%= listing.image.url %>"  alt="Original Listing Image"> 
    </div>
    <div>
        <label for="image" class="form-label">Image</label>
        <input type="file" name="listing[image]" class="form-control" >
        <div class="invalid-feedback">
            Image URl/Link require
        </div>
        <div class="valid-feedback">
            Image entered
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
            <div class="invalid-feedback">
                Please Enter a price
            </div>
            <div class="valid-feedback">
                Price entered
            </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="county" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
            <div class="invalid-feedback">
                Country name require
            </div>
            <div class="valid-feedback">
                Country name entered
            </div>
        </div>
    </div>
    <div>
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
        <div class="invalid-feedback">
            Location name require
        </div>
        <div class="valid-feedback">
            Location entered
        </div>
    </div>
    <button class="btn btn-dark edit-button mt-3 mb-3">Edit</button>
</form>
</div>
</div>

